.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
build/
dist/
*.spec
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
.DS_Store
Thumbs.db
*.pcap
*.csv
*.txt
*.log
SnifferAvalonia/engine/*
!SnifferAvalonia/engine/README.md
!requirements.txt